* {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

nav {
  background-color: #4DDBFF;
}

a:hover {
  font-size: 110%;
}

body {
  color: #FFF;
  background: url("http://i.imgur.com/YYThepG.jpg") no-repeat center center fixed;
  background-size: cover;
}

#button {
  position: relative;
  height: 8.333333333333333%;
  width: 16.666666666666666%;  
}

.input-element {
  position: relative;
  height: 8.333333333333333%;
  width: 25%;
}

.jumbotron {
  background-color: rgba(228 , 228 , 228 , 0.8);
}

.headroom {
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}
