* {
  font-family: 'Raleway', sans-serif;
}
h1 {
  color: #B30000;
  font-size: 4em;
}

form {
  
}

img {
  vertical-align: middle;
  width: 10%;
}

a {
  text-decoration: none;
  color: #567;
}

a:hover {
  font-size: 110%;
  text-decoration: none;
  color: #7a8fa3;
}

a:visited {
  text-decoration: none;
  color: #7a8fa3;
}


#sHeader {
  color: #555;
}

#button {
  margin-bottom: 10%;
  border: 1px solid #3079ED;
  color: #FFF;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4D90FE;
  background: linear-gradient(top, #4d90fe, #4787ed0);
}

.img-thumbnail {
  display: block;
  margin: auto;
}

.input-element {
  margin-bottom: 1%;
  border-radius: 5px;
}
