* {
  font-family: 'Raleway', sans-serif;
}

img {
  vertical-align: middle;
  width: 10%;
}

#sHeader {
  color: #555;
}

#button {
  border: 1px solid #3079ED;
    color: #FFF;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4D90FE;
    background-image: linear-gradient(top, #4d90fe, #4787ed0)
}

.img-thumbnail {
  display: block;
  margin: auto;
}
