* {
  font-family: 'Raleway', sans-serif;
}

nav {
  background-color: #4DDBFF;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  font-size: 110%;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

body {
  background-color: #FFF;
  background-size: cover;
}

.jumbotron q {
  display: block;
  text-align: center;
  padding-bottom: 15%;
}

#form {
  background-color: #FF751A;
  padding: 0.5% 0;
}

#button {
  position: relative;
  height: 8.333333333333333%;
  width: 15.625000000000000%;  
}

#first-glance {
  padding-bottom: 25%;
}

.input-element {
  position: relative;
  height: 8.333333333333333%;
  width: 25%;
  border: 4px solid #00C;
}

.container {
  background: url("http://i.imgur.com/5UkQKjh.jpg") no-repeat center center fixed; 
  background-size: cover;  
}

.jumbotron {
  background-color: rgba(228 , 228 , 228 , 0.2);
}

.form {
  padding: 1% 0;
  margin: 0 auto;
}

.panel {
  background-color: rgba(77 , 219 , 255 , 0.8);
}

.headroom {
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}
