* {
  font-family: 'Raleway', sans-serif;
}

nav {
  text-align: center;
  border-bottom: 2px;
  font-size: 1em;
}

nav strong {
  color: #B30000;
  font-size: 4em;
}

a {
  text-decoration: none;
  color: #567;
}

a:hover {
  font-size: 110%;
  text-decoration: none;
  color: #7a8fa3;
}

a:visited {
  text-decoration: none;
  color: #7a8fa3;
}

body {
}

footer {
  rgba(228 , 228 , 228 , 0.5);
}

#form {
  background-color: rgba(228 , 228 , 228 , 0.2);
  padding: 3.5% 0;
}

#button {
  position: relative;
  height: 8.333333333333333%;
  width: 40%;
  background-color: #F7941D;
}

#first-glance {
  padding-bottom: 25%;
}

#info {
  flex: 1;
  padding: 2.5%;
  margin: 0;
}

#info-box {
  display: flex;
  padding: 0;
  margin: 0;
}

#team {
  background-color: rgba(228 , 228 , 228 , 1);
  margin: 0;
}

#footer {
  background-color: rgba(228 , 228 , 228 , 1);
  margin: 0;
  padding: 0;
}

.input-element {
  background-color: #3870CA;
  position: relative;
  height: 8.333333333333333%;
  width: 75%;
}

.jumbotron {
  color: white;
  background: url(http://i.imgur.com/YYThepG.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  font-size: 2em;
  
  text-stroke: 2px black;
  text-shadow:
    3px 3px 0 #000,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px  1px 0 #000,
  1px  1px 0 #000;
}

.jumbotron a {
  display: inherit;
  margin: auto;
  width: 30%;
  background-color: #649E17;
  border-radius: 100px;
  text-align: center;
  color: white;
  
  text-stroke: 2px black;
  text-shadow:
    3px 3px 0 #000,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px  1px 0 #000,
  1px  1px 0 #000;
}

.form {
  padding: 7% 0;
  margin: 0 auto;
}

.panel-body {
  padding: 0;
  margin: 0;
}

.page-header {
  background-color: rgba(228 , 228 , 228 , 1);
  padding: 0 0 5% 0;
  margin: 0;
}

.well {
  rgba(228 , 228 , 228 , 1);
}

.headroom {
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}
