* {
  font-family: 'Raleway', sans-serif;
}

nav {
  background-color: #4DDBFF;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  font-size: 110%;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

body {
  background-color: #FFF;
  background-size: cover;
}

.jumbotron q {
  display: block;
  text-align: center;
  padding-bottom: 15%;
}

#form {
  background-color: #FF751A;
}

#button {
  position: relative;
  height: 8.333333333333333%;
  width: 40%;  
}

#first-glance {
  padding-bottom: 25%;
}

.input-element {
  position: relative;
  height: 8.333333333333333%;
  width: 100%;
  border: 2px solid #00C;
}

.container {
  background: url("https://static.pexels.com/photos/1998/sea-landscape-mountains-nature.jpg") no-repeat center center fixed; 
  background-size: cover;  
}

.jumbotron {
  background-color: rgba(228 , 228 , 228 , 0.5);
}

.form {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.panel {
  background-color: rgba(77 , 219 , 255 , 0.8);
}

.headroom {
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}
